<a href="https://colab.research.google.com/github/FrancescoCortopassi/copilot-codespaces-vscode/blob/main/LEZIONE_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#TUPLE
my_taple = '1,2,3,4,5'

In [2]:
#per creare la TUPLE dobbiamo usare la stessa condizione della variabili. Per la SINTASSI dobbiamo utilizzare solo APICI o DOPPI APICI. La TUPLE non è NON MODIFICABILE

In [3]:
#LISTA    []
my_list = [1,2,3,4,5]
my_list

[1, 2, 3, 4, 5]

In [ ]:
#Questa è una lista. per la sua SINTASSI si usano le PARENTESI QUADRE. La lista è MODIFIFICABILE

In [10]:
#AGGIUNGERE UN VALORE   .append
my_list.append(6)
my_list

[1, 2, 3, 4, 5, 6, 6, 5, 6]

In [ ]:
#mi sa che ho fatto un pò di confusione...

In [14]:
#AGGIUNGERE ALTRO VALORE   .extend
my_list.extend ([8,9,10,11])
my_list

[1, 2, 3, 4, 5, 6, 6, 5, 6, 8, 9, 10, 11]

In [15]:
#SINTASSI: Quando abbiamo usato .append abbiamo inserito un solo elemento ed abbiamo usato (), invece quando abbiamo usato .extend volevamo estendere la Lista con un'altra Lista quindi abbiamo usato le [] dentro le ()

In [16]:
#INDEX    .index
my_list.index (8)

9

In [17]:
my_list [6]

6

In [24]:
#DELETE   del
del my_list [0]
my_list

[3, 4, 5, 6, 6, 5, 6, 8, 9, 11]

In [25]:
#Una lista può ottenere tutti i tipi di OGGETTO, e può contenere anche un'altrea lista all'interno della LISTA PRINCIPALE (sub-list)

In [33]:
#Bonus: Nested List
my_list = [[1,15],3, "Finance"]

#Print the sub-list
print (my_list[0])

#Print value 15
print (my_list [0][1])

[1, 15]
15